#founder-image {
    border: 10px solid #5b7b938f;
    border-radius: 5px;
    //margin-right: 5%;
    width: 20vw;
}

#founder-desc {
    max-width: 60%;
    text-align: center;
    color: #4b4949;
    margin: 5%;
}

.background-mtg-bg h3 {
    font-family: sans-serif;
    font-size: 2vmax;
    color: #5a5e6d;
    word-spacing: 0.3rem;
    text-align: center;
    margin-bottom: 4%;
}

#founder-name {
    color: #5a5e6d;
    letter-spacing: 0.2rem;
    margin-top: 1%;
}