.card {
    background: transparent;
    color: transparent;
    animation: fade 500ms forwards;
    display: flex;
    margin-bottom: 15%;
}

.innerCard {
    display: flex;
    flex-direction: column;
}

.serv-icon {
    width: 5vw;
    height: 10vh;
}

.card h3 {
    color: #adadad;
}

#desc {
    color: transparent;
    animation: fade 100ms forwards;
}

@keyframes fade {
    100% {
        margin-top: 2%;
        padding: 5%;
        background: rgba(0, 0, 0, 0.082);
        border-radius: 10px;
        border: transparent;
        color: #adadad;
    }
}

//Mobile render

@media only screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
    .serv-icon {
        width:15vw;
    }
}

