.card {
    background: transparent;
    color: transparent;
    animation: fade 500ms forwards;
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-bottom: 5%;
}

#desc {
    animation: fade 1000ms forwards;
}

@keyframes fade {
    100% {
        padding: 10%;
        background: rgba(0, 0, 0, 0.082);
        border-radius: 10px;
        border: transparent;
        color: black;
    }
}