.card {
    //background: transparent;
    color: transparent;
    animation: fade 500ms forwards;
    //display: flex;
    //margin-bottom: 3%;
    //justify-content: center;
    width: 15%;
}

.innerCard {
    display: flex;
    flex-direction: column;
}

.serv-icon {
    width: 5vw;
    height: 10vh;
}

.card h3 {
    color: #414141;
}

#desc {
    color: transparent;
    animation: fade 100ms forwards;
}

@keyframes fade {
    100% {
        //margin-top: 2%;
        padding: 3%;
        //background: #86acd9;
        //border-radius: 10px;
        //border: transparent;
        border: 0.5px solid rgba(0, 0, 0, 0.452);
        border-radius: 10px;
        color: #adadad;
    }
}

//Mobile render

@media only screen and (max-width: 768px) {
    .card {
        width: 100%;
        display: flex;
        }
    .serv-icon {
        width:20vw;
    }
}

