#contact-us {
    margin-top: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #34424d;
    color: rgb(173, 173, 173);
    font-family: sans-serif;
    font-size: 2vmax;
    padding-top: 5%;
}

#contact-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

#contact-logo {
    height: 15vh;
    margin: 0 2%;
}