#contact-us {
    //margin-top: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2a3035;
    color: rgb(173, 173, 173);
    font-family: sans-serif;
    font-size: 1.6vmax;
    //padding-top: 5%;
}

#contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-logo {
    height: 15vh;
    //margin: 0 2%;
}