@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

header {
    width: 100vw;
    height: 10vh;
    background: #34424d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Inconsolata',sans-serif;
}


#header-logo {
    margin: 0 5%;
    height: 7vh;
    width: 8vw;
}


#navlinks {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

#navlinks a {
    text-align: center;
    text-decoration: none;
    font-size: 2.8vmin;
    color: #acacac;
    height: fit-content;
}


#navlinks a:hover {
    animation: hoverglow 500ms forwards;
    //padding: 2px;
    cursor: pointer;
}

@keyframes hoverglow {
    100% {
        font-size: 3vmin;
        color: white;
        border: transparent;
        border-bottom: 1px solid white;
    }
}

#header-start {
    width: 35%;
    color: #acacac;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vmin;
    letter-spacing: 0.1rem;
}
