header {
    width: 100vw;
    height: 12vh;
    background: #34424d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header h4 {
    margin: 0 3% 0 0;
    font-size: 1.8vmin;
}

#navlinks {
    margin-right: 5%;
    display: flex;
    width: 20%;
    justify-content: space-around;
}


#header-logo {
    margin-left: 5%;
    height: 10vh;
    width: 10vw;
}


header h4:hover {
    animation: hoverglow 500ms forwards;
    padding: 2px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

@keyframes hoverglow {
    100% {
        font-size: larger;
    }
}
