#home {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 10px solid #4e6c83d3;
    color: #5a5e6d;
}

#htitle {
    margin: 3% 5%;
    font-style: italic;
    font-size: 3.5vmin;
}

#hcard {
    align-self: center;
    font-size: 0.1vmin;
    animation: expand 1000ms 3500ms forwards;
}

@keyframes expand {
    100% {
        align-self: center;
        padding: 1%;
        border: none;
        border-radius: 15px;
        font-size: 2.6vmin;
        background: #5a5e6d;
        color: #c5c4c4;
        text-align: center;
    }
}

.bigger {
    font-size: 3.5vmax;
    font-weight: 1000;
    color: #454545;
}

.my-typist {
    font-family: sans-serif;
    font-size: 3vmax;
    font-weight: 800;
    letter-spacing: 1rem;
    color: #5a5e6d;
    margin-bottom: 3%;
}

//Code for typist blink

.Typist .Cursor {
    display: inline-block; }
    .Typist .Cursor--blinking {
      opacity: 1;
      animation: blink 1s linear infinite; }
  
  @keyframes blink {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } }

//end code for typist blink