#service-container {
    margin-top: 5%;
}

#services-header {
    width: 90vw;
    display: flex;
    justify-content: center;
    padding: 2% 5% 5% 5%;
    //margin: auto;
    //justify-content: space-around;
    //background: linear-gradient(rgba(83, 173, 201, 0.404),rgba(132, 176, 189, 0.363))
    //background: #d3d3d3;
    background: white;
    flex-wrap: wrap;
    //border-radius: 10px;
}

#services {
    //background: #d3d3d3;
    background: white;
    color: #353535;
    text-align: center;
    font-weight: 800;
    font-size: 2vmax;
    padding: 3%;
    letter-spacing: 0.5rem;
}

#web-development, #digital-marketing{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#serv-subt {
    //background: #d3d3d3;
    background: white;
    margin: 0;
    color: #353535;
    text-align: center;
    padding-bottom: 3%;
    font-style: italic;
    font-size: 1.2vmax;
}

//Mobile renders 

@media only screen and (max-width: 768px) {
    #services-header {
        flex-direction: column;
    }

    #services {
        font-size: 4vmax;
    }

    #serv-subt {
        font-size: 2.6vmax;
        padding: 0 5%;
    }

    #web-development, #digital-marketing{
        width: 90%;
    }
}