#services {
    width: 90vw;
    display: flex;
    padding: 2vh 5vw 5vh 5vw;
    margin: auto;
    justify-content: space-around;
    //background: linear-gradient(rgba(83, 173, 201, 0.404),rgba(132, 176, 189, 0.363))
    background: #34424d;
}

#services-header {
    background: #34424d;
    color: #adadad;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2vmax;
    padding: 3%;
    letter-spacing: 0.5rem;
}

#web-development, #digital-marketing{
    width: 30%;
}

#serv-subt {
    background: #34424d;
    margin: 0;
    color: #acacac;
    text-align: center;
    padding-bottom: 3%;
}