.background {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 90vh;
    background-image: url('../../public/images/snm_111.jpg');
    background-size: cover;
    //filter: blur(2px) brightness(110%);
}

.background-mtg-bg {
    align-items: center;
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background: url('../../public/images/mtg_bg.jpg');
    background-size: cover;
    filter: brightness(90%);
}

@media only screen and (max-width: 768px) {
    .background-mtg-bg {
        align-items: center;
        position: absolute;
        z-index: -1;
        height: 200vh;
        width: 100vw;
        background: url('../../public/images/mtg_bg.jpg');
        background-size: cover;
        filter: brightness(90%);
    }
}