//Styles landing page

//Use below to test connection for imports 
// body {
//     background: green;
// }

@import './components/home';
@import './components/header';
@import './components/services';
@import './components/about';
@import './components/card';


@import './background';


html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}